/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

body .markdown-section {
    font-family: "Lato","Helvetica Neue",Arial,sans-serif;
    line-height: 1.4;
    font-size: 32px;
}
